* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
}

body {
	font-size: 12px;
	color: #424242
}

/* skip link */

.skip-link {
	position: absolute;
    font-family: 'Poppins', sans-serif;
	top: -100px;
	left: 0;
	background-color: #b51d27;
	color: white;
	padding: 10px;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
    min-width: 44px;
    min-height: 44px;
}

.skip-link:focus {
	top: 100px
}

/*
* nav
*/
nav {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-right: 40px;
	padding-left: 40px;
	height: 75px;
	color: black;
  }
  
.menu {
	font-size: 24px;
	display: none;
	width: 44px;
	height: 44px;
	color: var(--primary-color);
  }
  
.menu:hover {
	cursor: pointer;
  }
  
.logo-font {
	font-size: x-large;
	font-weight: bold;
	color: var(--primary-color);
	text-decoration: none;
	padding: 0.4em 0;
  }
  
.nav-list {
	font-weight: 400;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	flex-wrap: wrap;
	transition: ease;
  }
  
.navitems {
	box-sizing: border-box;
	line-height: 24px;
  }
  
.navitems a {
	padding: 0.7rem;
	display: inline-block;
	font-size: 1.3em;
	text-decoration: none;
	color: var(--primary-color);
  }
  
.navitems button {
	padding: 0.9rem;
	background-color: transparent;
	border: 0 solid transparent;
	color: var(--primary-color);
	cursor: pointer;
	font-size: 1.3;
	vertical-align: middle;
  }
  
.navitems a:hover {
	text-decoration: underline;
	color: var(--secondary-color);
	cursor: pointer;
  }
  
.navitems button:hover {
	text-decoration: underline;
	color: var(--secondary-color);
	cursor: pointer;
  }
  
  

img {
    display: block;
} 

.hero {
    font-family: 'Poppins', sans-serif;
	align-items: center;
	min-height: 380px;
	width: 100%;
	text-align: center;
	background-position: center;
	background-color: Black !important;
	display: flex;
	justify-content: center;
	background: rgba(0,0,0,0);
}

picture{
	width: 100%;
}

.heroImg{
	position: relative;
	background: rgba(0,0,0,0);
	height: 475px;
	width: 100%;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}


.heroinner {
	position: absolute;
	margin: 0 auto;
	max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.herotitle {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
	text-shadow: 1px 1px #141414
}

.herosubtitle {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 1px 1px #141414
}

main {
	width: 100%;
	margin: 0 auto
}

.content {
	padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
	margin: 2em 10%;

}

.latest {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center
}

.latest h1 {
	font-weight: 700;
	font-size: 1.75em;
	margin-bottom: 30px;
    margin-top: 15px;
    color: black;
}

.list {
	margin: 32px auto auto;
	text-align: left;
	display: grid;
	grid-row-gap: 16px
}

.list_item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: #141414;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.city {
	position: absolute;
	top: 8px;
	left: 16px;
	background-color: white;
	padding: 5px 10px 5px;
	color: black;
	font-weight: 500
}

.list_item_content {
	padding: 16px
}

.list_item_thumb {
	width: 100%;
	max-height: 200px
}

.list_item_rating {
	font-size: 13px;
	text-transform: uppercase;
	color: black;
	font-weight: 500;
}

.list_item_rating_value {
	color: red;
	text-decoration: none;
    width: 44px;
    height: 44px;
}


.span_rating a {
    padding: 20px;
}

.span_title a{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.list_item_title {
	font-weight: 500;
	font-size: 20px;
	margin-top: 10px;
	transition: 0.3s opacity;
    min-width: 44px;
    min-height: 44px;
}

.list_item_title:hover {
	opacity: 0.5
}

.list_item_title a {
	text-decoration: none;
	color: inherit
}

.list_item_desc {
	margin-top: -30px;
	font-size: 12px;
	line-height: 1.5em
}

/*detail page*/
.resto_poster{
	width: 100%;
	height: 370px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 25px;
}

.resto_title{
	font-size: 30px;
	text-align: center;
	margin-bottom: 25px;
}

.checked {
	color: orange;
}

.rating-name{
	display: inline-block;
}

.info-list{
	font-size: 18px;
}
.category {
	padding: 0.3em 1em;
	color: #ffffff;
	background-color: #ff8303;
	margin-right: 2px;
	border: 1px solid transparent;
	border-radius: 0px 10px 0px 10px;
  }

.categories{
	margin-top: 10px;
}

.menu-detail h4 {
  font-size: 15px;
  padding-top: 10px;
  color: #ff8303;
  background-color: #ffffff;
}

.food {
	text-align: left;
  	display: flex;
  	flex-direction: column;
  	align-content: center;
}

.food li {
	font-size: 14px;
  padding: 3px 0;
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  border: 0.5px solid black;
  border-width: 0 0 0.5px;
}

.drink {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.drink li {
	font-size: 14px;
  padding: 3px 0;
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  border: 0.5px solid black;
  border-width: 0 0 0.5px;
}

.review-detail {
	max-width: 100%;
	font-size: 14px;
	text-align: center;
}
  
.review-detail-item {
	border: 0.5px solid black;
	margin-bottom: 1.5em;
	padding: 5px 1em;
}
  
.review-detail-item:last-child {
	margin-bottom: 0;
}
  
.header-review {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em;
}
  
.namereview {
	font-weight: bold;
}
  
.date-rev {
	font-size: 11px;
	font-weight: lighter;
}
  
.bodyrev {
	padding: 1em;
	text-align: left;
}

.p-detail{
	font-size: 14px;
	margin-top: 10px;
}

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #ff8303;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*favorite*/

.favorited h1{
	font-weight: 700;
	font-size: 1.75em;
	margin-bottom: 30px;
    margin-top: 15px;
    color: black;
	text-align: center;
}

#fav-resto {
	display: grid;
	grid-row-gap: 1.5em;
	padding-top: 1.5em;
  }
  
footer {
    font-family: 'Josefin Sans', sans-serif;
	color: black;
	font-size: 14px;
	padding: 2em;
	width: 100%;
	text-align: center;
    font-weight: 500;
}
